################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EntityId/obj
/EntityId.Tests/bin/
/EntityId/bin/
/EntityId.Tests/obj
/EntityId.StronglyTyped/bin/
/EntityId.StronglyTyped/obj
/EntityId.Generator/obj
/EntityId.Generator/bin/
/EntityId.Shared/obj
/EntityId.Shared/bin/
