################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EntityId/obj
/EntityId.Tests/bin/
/EntityId/bin/
/EntityId.Tests/obj
